/*
* In this file are defined flickering animations for "neon" texts.
*
* Inspiration for this flickering effect: https://codepen.io/GeorgePark/pen/MrjbEr
 */

:root {
    --neon-online: #00ff00;
    --neon-offline: #ff0090;
    --neon-text-color: #FC1AD0;
    --neon-hover-text-color: #118CFF;
}

/** Basic flicker
--------------------------------------------------------- */
@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem var(--neon-text-color),
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

/** Hover flicker
--------------------------------------------------------- */
@keyframes flicker-hover {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem var(--neon-hover-text-color),
            0 0 2rem var(--neon-hover-text-color),
            0 0 4rem var(--neon-hover-text-color),
            0 0 6rem var(--neon-hover-text-color),
            0 0 8rem var(--neon-hover-text-color),
            0 0 10rem var(--neon-hover-text-color);
    }
}

/** Online flicker
--------------------------------------------------------- */
@keyframes flicker-online {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem var(--neon-online),
            0 0 2rem var(--neon-online),
            0 0 4rem var(--neon-online),
            0 0 6rem var(--neon-online),
            0 0 8rem var(--neon-online),
            0 0 10rem var(--neon-online);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

/** Offline flickering
 --------------------------------------------------------- */
@keyframes flicker-offline {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem var(--neon-offline),
            0 0 2rem var(--neon-offline),
            0 0 4rem var(--neon-offline),
            0 0 6rem var(--neon-offline),
            0 0 8rem var(--neon-offline),
            0 0 10rem var(--neon-offline);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}