/*
* In this file are defined glowing animations for "neon" texts.
*
* Inspiration for this glowing effect: https://www.w3schools.com/howto/howto_css_glowing_text.asp
 */

/** Yellow
--------------------------------------------------------- */
.glow-y {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ddc500, 0 0 30px #ddc500, 0 0 40px #ddc500, 0 0 55px #ddc500, 0 0 75px #ddc500;
}

/** Orange
--------------------------------------------------------- */
.glow-o {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #dd6000, 0 0 30px #dd6000, 0 0 40px #dd6000, 0 0 55px #dd6000, 0 0 75px #dd6000;
}

/** Red
--------------------------------------------------------- */
.glow-r {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #d00000, 0 0 30px #d00000, 0 0 40px #d00000, 0 0 55px #d00000, 0 0 75px #d00000;
}