/*
* In this file are basic blocks for responsivity
 */

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
}

.col {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}