/*
* In this file are media queries for different resolitons.
* Breakpoints are based on Bootstraps breakpoints.
 */

.hide { display: none; }

/** Breakpoint: xs
--------------------------------------------------------- */
@media (max-width: 576px) { 
	.hide-xs { display: none; }
	.show-xs { display: block; }
}

/** Breakpoint: sm
 --------------------------------------------------------- */
@media (min-width: 576px) and (max-width: 767px) { 
	.hide-sm { display: none; }
	.show-sm { display: block; }
}

/** Breakpoint: md;
 --------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) { 
	.hide-md { display: none; }
	.show-md { display: block; }
}

/** Breakpoint: lg;
 --------------------------------------------------------- */
@media (min-width: 992px) and (max-width: 1199px) { 
	.hide-lg { display: none; }
	.show-lg { display: block; }
	input[type="text"] { text-align: left; }
}

/** Breakpoint: xl;
 --------------------------------------------------------- */
@media (min-width: 1200px) { 
	.hide-xl { display: none; }
	.show-xl { display: block; }
	input[type="text"] { text-align: left; }
}