/*
* Main styles file.
*/

/** Fonts
 --------------------------------------------------------- */
@font-face {
    font-family: NeonFont;
    src: url(../resources/font/Neoneon.otf);
}

/** Reusable
 --------------------------------------------------------- */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.title {
    font-size: 3rem;
}

a.no-dec {
    text-decoration: none;
}

/** General
 --------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: white;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

.section {

    /* Set size of this element to fill the view port with the help of relative units vw, vh */
    width: 100vw;
    height: 100vh;

    /* Settings for backgrond image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/** Section: Intro
 --------------------------------------------------------- */
.section.intro {
    background-image: url(../resources/images/bg_blur.jpg);

    display: -webkit-box;
    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;

    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    justify-content: center;
}

h1.title {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.flickering-banner {
    font-family: NeonFont;
}

.section.intro a {
    margin-left: auto;
    margin-right: auto;
}

a.flickering-banner {
    font-size: 3.5rem;

    color: #FC1AD0;
    text-decoration: none;

    -webkit-animation: flicker 1.5s infinite alternate;
    animation: flicker 1.5s infinite alternate;
}

a.flickering-banner:hover {
    color: #118CFF;
    -webkit-animation: flicker-hover 1.5s infinite alternate;
    animation: flicker-hover 1.5s infinite alternate;
}

/** Section: Game
 --------------------------------------------------------- */
.sign {
    font-size: 1.75rem;
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: middle;

    color: rgb(255, 0, 144);
    border: 2px solid rgb(255, 0, 144);
    -webkit-box-shadow: 0 0 10px rgb(255, 0, 144);
    box-shadow: 0 0 10px rgb(255, 0, 144);

    -webkit-animation: flicker-offline 1.5s infinite alternate;
    animation: flicker-offline 1.5s infinite alternate;
}

.sign:before {
    content: "Offline";
}

.sign.online {
    color: rgb(0, 255, 0);
    border: 2px solid rgb(0, 255, 0);
    -webkit-box-shadow: 0 0 10px rgb(0, 255, 0);
    box-shadow: 0 0 10px rgb(0, 255, 0);

    -webkit-animation: flicker-online 5s infinite alternate;
    animation: flicker-online 5s infinite alternate;
}

.sign.online:before {
    content: "Online";
}

.section.game {
    background-image: url(../resources/images/bg2_blur.jpg);
}

a.title {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.arrow-medium {
    margin-top: 4rem;
    font-size: 5rem;
}

.arrow-large {
    display: block;
    font-size: 10rem;
}

h2.title {
    color: white;
    font-size: 3rem;
    font-family: NeonFont;
}

#xs-score {
    margin: 1.5rem auto 1rem auto;
}

/** Section: Leaderboard
 --------------------------------------------------------- */
.section.leaderboard .row:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Cells padding */
.section.leaderboard table th,
.section.leaderboard table td {
    padding: 2% 5%;
}

/** Columns text-align
 --------------------------------------------------------- */

/* Rank align */
.section.leaderboard table tr th:nth-of-type(1),
.section.leaderboard table tr td:nth-of-type(1) {
    text-align: right;
    padding-right: 0;
}

.section.leaderboard table tr th:nth-of-type(2),
.section.leaderboard table tr td:nth-of-type(2) {
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
}

.section.leaderboard table tr th:nth-of-type(3),
.section.leaderboard table tr td:nth-of-type(3) {
    text-align: left;
}

.section.leaderboard table tr th:nth-of-type(4),
.section.leaderboard table tr td:nth-of-type(4) {
    text-align: left;
}

/** Row higlights
 --------------------------------------------------------- */

/* First place */
.section.leaderboard table tbody tr:nth-of-type(1):hover {
    cursor: pointer;
    color: yellow;
}

/* Second place */
.section.leaderboard table tbody tr:nth-of-type(2):hover {
    cursor: pointer;
    color: #c0c0c0;
}

/* Third place */
.section.leaderboard table tbody tr:nth-of-type(3):hover {
    cursor: pointer;
    color: #d4af37;
}

/* Generic */
.section.leaderboard table tbody tr:hover {
    cursor: pointer;
    color: #ff00ff;
}

/** Game
 --------------------------------------------------------- */

canvas {
    -webkit-box-shadow: 0 0 50px rgba(68, 221, 255, 0.7);
    box-shadow: 0 0 50px rgba(68, 221, 255, 0.7);
}

input[type="text"] {
    /* Margins */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    /* Font */
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Press Start 2P';

    border: 0;
    width: 100%;
    outline: none;
    display: block;
    background-color: rgba(0, 0, 0, 0);
}

/** Footer
 --------------------------------------------------------- */
footer {
    padding: 10px 20px;
    color: rgb(80, 80, 80);

    text-align: right;
}

footer:hover {
    color: white;
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
}

footer p {
    margin-bottom: 0;
}

footer small {
    font-size: 0.5rem;
}